#root {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
    box-sizing: border-box;
    border-radius: 45px;
    border: 3px solid #afafaf;
    width: 650px;
    height: 850px;
    background-color: #000000;
    overflow: hidden;
}

.main-box {
    position: absolute;
    margin: 20px;
    display: flex;
    border-radius: 30px;
    border: 2px solid #afafaf;
    width: 600px;
    height: 800px;
}

.phone-header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
}

.phone-header-left,
.phone-header-right {
    justify-content: center;
    display: flex;
    padding: 0 5px;
    width: 120px;
    height: 100%;
}

.phone-header-left {
    margin-top: 10px;
    font-size: 10px;
    
    & > .phone-clock {
        font-weight: 600;
        color: #eeeeee;
        cursor: default;
    }

    & > .date {
        margin-left: 7px;
        font-weight: 600;
        color: #eeeeee;
        cursor: default;
    }
}

.phone-header-right {
    
    & > svg {
        margin-top: 3px;
        width: 20px;
        height: 20px;
        margin-left: 5px;
        fill: #eeeeee;
        stroke: #eeeeee;
    }
}

.main-layout {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 30px;
    background-color: #111111;
    padding-top: 55px;
    width: 100%;
    height: 100%;
}